version: '3.8'

services:
  mongodb:
    image: mongo:7
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: awad_users
    ports:
      - '27017:27017'
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ['CMD', 'mongosh', '--eval', 'db.adminCommand({ ping: 1 })']
      start_period: 5s
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo-data:
